# Virtual Environment
attendanceenv/
venv/
env/


# local image folder
images/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE
.idea/
.vscode/
*.swp

# Environment variables
.env

# Windows
*.msi
Thumbs.db

# Logs
*.log
