--Made by Rafael Sanches Gambim for our attendancechecker project for SWE class
-- Create the database if it doesn't exist
IF DB_ID('AttendanceChecker') IS NULL
BEGIN
    CREATE DATABASE AttendanceChecker;
END;
GO

USE AttendanceChecker;
GO

-- Create the instructors table
CREATE TABLE instructors (
    id INT IDENTITY(1,1) PRIMARY KEY,
    name NVARCHAR(255) NOT NULL,
    username NVARCHAR(255) UNIQUE NOT NULL,
    password NVARCHAR(255) NOT NULL  -- In production, store hashed passwords
);
GO

-- Create the students table
CREATE TABLE students (
    id INT IDENTITY(1,1) PRIMARY KEY,
    name NVARCHAR(255) NOT NULL
);
GO

-- Create the attendance table
CREATE TABLE attendance (
    id INT IDENTITY(1,1) PRIMARY KEY,
    student_id INT NOT NULL,
    attendance_date DATE,
    is_present BIT,
    CONSTRAINT FK_Attendance_Students FOREIGN KEY (student_id)
        REFERENCES students(id)
);
GO
